<!--comment>dead symbols: tfm, pby</comment-->
<phpunit bootstrap="/var/www/html/traders_toolkit/library/autoloader.php">
  <testsuites>

    <testsuite name="base functions">
      <file>GetQuotesBaseTest10.php</file>
    </testsuite>

    <testsuite name="internet functions">
      <file>GetQuotesYahooTest10.php</file>
    </testsuite>

    <testsuite name="no quote file">
      <file>GetQuotesYahooTest20.php</file>
      <file>GetQuotesYahooTest30.php</file>
      <file>GetQuotesYahooTest40.php</file>
    </testsuite>

    <testsuite name="quote file exists and needs to be patched">
      <file>GetQuotesYahooTest50.php</file>
      <file>GetQuotesYahooTest60.php</file>
      <file>GetQuotesYahooTest70.php</file>
      <file>GetQuotesYahooTest80.php</file>
    </testsuite>


  </testsuites>
</phpunit>